.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
}

.login {
    width: 100%;
    text-align: center;
}

.choose-function-button {
    width: 300px;
    margin-top: 20px;

}

.choose-function-div {
    border: 5px solid;
    position: absolute;
    top: 40%;
    transform: translate(0, -70%);
    padding: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    align-content: center;
}
.same-choose-cell{
    width: 150px;
    height: 70px;
    text-align: center;
}
.calculate-div{
    display: flex;
    flex-direction: row;
    border-style: dotted;
    border: 2;
    background-color:violet;
    justify-content: center;
}
.calculate-component{
    width: 150px;
    margin-left: 50px;
    
}